.header {
    margin: 0 auto;
    padding: 0px 0px 0px 100px;
    width: 1280px;
    height: 800px;
    background: var(--background);
}

.heroimg {
    background-image: url(/images/img-1.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 650px 800px;
    background: rgba(20, 20, 20, 0.2), url(/images/img-1.jpg);
    object-fit: cover;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 76px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--main-text);
    margin-bottom: 128px;
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main-text);
    margin-right: 30px;
}

.textleft {
    width: 502px;
    height: 562px;
    margin-top: 154px;
    margin-right: 28px;
}

